@charset "utf-8";

/*font*/
@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 300;
  src: url(KoPubWorldBatang_Light.ttf) format('truetype');
}

@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 400;
  src: url(KoPubWorldBatang_Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 700;
  src: url(KoPubWorldBatang_Bold.ttf) format('truetype');
}

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
html, body {
	color: #5d5d5d;
	font-family:'KoPub Batang','batang','바탕',serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.75;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	background-color: #e2e2e2;
	word-break: keep-all;
	text-align: center;
	transition: background-color .5s ease-out;
	-webkit-text-size-adjust:none;
	-webkit-overflow-scrolling:touch;
}
body[card-type="spread"] {
	touch-action: auto;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
ul, ol, li { 
	list-style: none; 
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
a {
	color: #5d5d5d;
	text-decoration: none;
}
a:hover {
	color: #232323;
}
.button {
	background: rgba(0,0,0,.06);
	border: none;
	border-radius: 20px;
	color: #787878;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-family:'Noto Sans KR',sans-serif;
	letter-spacing: 0.5px;
	line-height: 40px;
	margin-bottom: 12px;
	transition: all .25s ease-out;
	width: 50%;
	height: 40px;
}
.button.small-button {
	width: auto;
	height: 30px;
	font-size: 11px;
	line-height: 30px;
	padding: 0 17px;
	margin: 25px 2px 10px;
}
.button:hover {
	background: rgba(0,0,0,.1);
	color: #555;
}
.button-set:before,
.button-set:after {
	content: '';
	display: table;
}
.button-set:after {
	clear: both;
}
.button-set {
	margin-top: 15px;
}
.hidden {
	display: none;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card_wrap {max-width:345px;margin:0 auto 25px;}
.card_wrap .card {position:relative;height:580px;margin-top:12px;background:url('bg_paper.jpg');background-size: 345px auto;border-radius: 2px;box-shadow: 0 0 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.12), inset 0 1px 2px rgba(255,255,255,.75);overflow: hidden;}

.main_cont .main_img {background:url('main_img.jpg');height:auto;height:55vh;max-height:345px;background-size: cover;background-position: center center;position: relative;opacity: .9;mix-blend-mode: multiply;width: 100%;}
.main_cont .main_img .d-day {top: auto;right: 22px;bottom: -60px;position: absolute;width: 88px;height: 88px;border: 1px solid rgba(0,0,0,.15);border-radius: 43px;background-size: 86px 86px;background-position-y: 1px;background-image: url('day_stamp.png');line-height: 90px;font-size: 15px;letter-spacing: 0;color: #aaa;transform: rotate(-8deg) scale(1.12);}
.main_txt .name {font-size:18px;letter-spacing: 3px;}
.main_txt .wedding_date {font-size: 13px;letter-spacing: 0.5px;}

.greeting {}
.greeting_txt {margin-top:140px;}
.greeting_name {border-top: 1px solid #d0d0d0;border-bottom: 1px solid #d0d0d0;display: inline-block;line-height: 1;margin:15% 0;padding:20px 0;}

.gallery {}

.card_tit {display:block;margin-bottom: 12px;color: #999;font-size:15px;font-weight:bold;}
.card_tit_txt {display:block;font-size: 17px;padding-left: 2px;margin-bottom: 15%;letter-spacing: 2px;line-height: 1.6;}
.calendar_cont {width: 75%;margin: 0 12.5%;padding: 15px 0 10px;border-top: 1px solid #d0d0d0;border-bottom: 1px solid #d0d0d0;}
.tbl_calendar {font-family: 'KoPub Batang', serif;margin-left: -5%;width: 110%;}
.tbl_calendar .calendar-day-head {color: #999;font-size: 9px;padding: 10px 0;}
.tbl_calendar td {font-size: 13px;}
.tbl_calendar .day-number {color: #787878;width: 28px;height: 28px;font-size: 12px;line-height: 28px;margin: 5px auto;}
.tbl_calendar .day-number.wedding-day {background: rgba(0,0,0,.06);border-radius: 17px;font-weight: 700;}

.card.info {height:auto;}
.info_map {margin-top:75px;border-bottom:1px dashed rgba(0, 0, 0, .1);}
.info_map .map_img a {display:block;background:url('map_img.png');width: 100%;height: 234px;background-size: contain;background-position: center center;}
.info_map .address {padding:18px 0 35px;font-size:13px;}
.info_detail {padding:10%;padding-bottom:40px;background:url('bg_paper.jpg') 1px;background-size: 345px auto;border-radius: 2px;box-shadow: 0 0 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.12), inset 0 1px 2px rgba(255,255,255,.75);overflow: hidden;}

.info_detail ul li {font-size: 13px;letter-spacing: 0;padding: 0 0 10px;text-align: left;}
.info_detail h3 {color: #999;display: block;font-size: 13px;margin-bottom: 7px;}


.swiper-container { width:345px; height:auto; }





.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.loader {
	background: #e2e2e2;
	z-index:10;
}
.loader .message {
	position: absolute;
	z-index: 20;
	color: rgba(0,0,0,.3);
	font-size: 17px;
	top: 50%;
	left: 50%;
	letter-spacing: 3px;
	line-height: 1.8;
	transform: translate(-50%, -50%);
}
.loader .loading_area {margin-top:130px;text-align:center;}
.loader .loading {
display:inline-block;
  border: 4px solid #e2e2e2;
  border-radius: 50%;
  border-top: 4px solid #b3b3b3;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  transform:translate(-50%,-50%);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}










